#chat3 .form-control {
    border-color: transparent;
  }

  #chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }

  .badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -0.75rem;
  }

  .nav-tabs {
    border-bottom: 0;
    margin: auto;
    padding: auto;
  }

  .nav-tabs .nav-link {
    border: solid transparent;
    border-width: 0 0 2px;
    border-radius: 0;
    /* text-transform: uppercase;
        line-height: auto;
        font-weight: auto;
        font-size: auto;
        color: rgba(0, 0, 0, .6);
        padding: 0px 0px 0px; */

    /* 源代码css的 这一块，我给注释掉了 

            注意不要gmq不要用nav-tabs啊
        */
  }

  .nav-tabs .nav-link:hover {
    background-color: #f5f5f5;
    border-color: transparent;
  }

  .nav-tabs .nav-link:focus {
    border-color: transparent;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #1266f1;
    border-color: #1266f1;
  }

  /* 滑动条样式 */
  ::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 1px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }

  ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    /* background-color: #8c8c8c; */
    background-color: rgba(0, 0, 0, 0.25);
  }

  ::-webkit-scrollbar-track {
    background-color: #f6f6f6;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    border: 0;
  }

  /* 自己加的样式，对于输入框的 */
  /* style="border-radius: 50px; border: 1px solid #ced4da;" */
  #messageInput {
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }

  .nav-item .nav-link {
    padding: 10px 15px;
  }